<small class="ml-5 my-0 py-0 form-text text-muted input-label">Edit Element Kind</small>
<div class="row justify-content-between align-items-center bg-light" id="">
  <button class="caret-toggle btn btn-lg bg-transparent pl-2 border py-0" id="" data-toggle="collapse" data-target="#<%= dom_ref(element_group, 'body') %>" type="button" aria-expanded="false"><%= (fa_icon "caret-right") %></button>

  <ul class="nav ml-3 mr-0">
    <li class="nav-item-dropdown">
      <a class="nav-link dropdown bg-transparent text-info m-0 p-0 border" id="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= (fa_icon "ellipsis-v") %></a>
      <%= render "element_kinds/header/dropdown_menu", element_group: element_group %>
    </li>
  </ul>

  <div class="col" id="<%= dom_ref(element_group, 'accordion') %>">
    <div class="collapse show toggle-sibling" id="<%= dom_ref(element_group, 'edit') %>" data-label="Edit Element Kind" data-parent="#<%= dom_ref(element_group, 'accordion') %>">
      <%= render "element_kinds/forms/form", elementable: elementable, element_kind: element_group.element_kind, form_id: dom_ref(element_group, 'edit-form-id') %>
    </div>

    <div class="collapse toggle-sibling" id="<%= dom_ref(element_group, 'element-new') %>" data-label="New Element" data-parent="#<%= dom_ref(element_group, 'accordion') %>">
      <%= render "elements/forms/form", element_kind: element_group.element_kind, element: Element.new, form_id: dom_ref(element_group, 'element-new-form-id')  %>
    </div>
  </div>

  <div class="col-1" id="">
    <div class="row align-items-center">
      <div class="col mx-2 p-0">
        <%= render "element_groups/header/sorter", elementable: elementable, element_group: element_group %>
      </div>
      <div class="col p-0">
        <%= render "element_kinds/header/delete_menu", elementable: elementable, element_group: element_group %>
      </div>
    </div>
  </div>
</div>
