<div id="<%= dynamic_id(name: 'list-item', klass: element_kind, child_klass: element) %>">
  <span class="collapse dynamic-id"><%= dynamic_id(name: 'list-item', klass: element_kind, child_klass: element) %></span>
  <div class="card">
    <div class="card-header py-0">
      <%= render "elements/element/header", element_kind: element_kind, element: element %>
    </div>

    <div class="collapse close-toggle-form" id="<%= dynamic_id(name: 'form-edit-target', klass: element_kind, child_klass: element) %>" data-parent="#accordion-nav-menu">
      <%= render "elements/forms/edit", element_kind: element_kind, element: element %>
    </div>

    <div class="collapse" id="<%= dynamic_id(name: 'collection-target', klass: element, child_klass: nil) %>" data-parent="#<%= dynamic_id(name: 'collection', klass: element_kind, child_klass: 'elements') %>">
      <div class="card-body py-2">
        <%= render "fields/field", fieldable: element %>
      </div>
    </div>
  </div>
</div>
