<div class="card border m-1 border-dark" id="<%= dom_ref(element, 'show') %>">
  <div class="card-header pt-0 border border-danger">
    <%= render "elements/header/header", element_group: element_group, element: element %>
  </div>

  <div class="card-body p-1 collapse" id="<%= dom_ref(element, 'body') %>" data-parent="#<%= dom_ref(element_group, 'body') %>">
    <div id="<%= dom_ref(element, 'field-index') %>">
      <%= render "fields/index", fieldable: element %>
    </div>
  </div>
</div>
