<div class="card border m-1 border-dark" id="<%= dom_ref(element, 'show') %>">
  <div class="card-header" id="<%= dom_ref(element, 'header') %>">
    <%= element.name %> | <%= element.kind %> | <%= element.tags %>
  </div>

  <div class="card-body p-1" id="<%= dom_ref(element, 'body') %>">
    <div id='<%= dom_ref(element, "element-index") %>'>
      <%= render "elements/index", element: element %>
    </div>
  </div>
</div>
