<p id="notice"><%= notice %></p>
<h1>Elements</h1>

<p>
  <%= link_to 'Excel', elements_path(format: :xlsx), class: 'btn btn-sm badge badge-primary' %>
  <%= link_to 'CSV', elements_path(format: 'csv'), class: 'btn btn-sm badge badge-primary' %>
</p>
<p>
  <%= render "categories/import", url: import_elements_path %>
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td><%= element.id %></td>
        <td><%= element.name %></td>
        <td><%= link_to 'Delete', element, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <tbody>
</table>
