<div class="media">
  <div class="media-body">
    <tr>
      <td>
        <a href="<%= supplier_invoice_path(invoice) %>" class="btn btn-link" type="button"  aria-describedby: "button-addon3">
          <%= invoice.name %>
        </a>
        <button class="btn btn-sm btn-outline-info float-right" type="button" data-toggle="collapse" data-target="#collapseInvoiceForm#{<%= invoice.id %>}" aria-expanded="false" aria-controls="collapseInvoiceForm#{<%= invoice.id %>}">
          Edit
        </button>
        <div class="collapse" id="collapseInvoiceForm#{<%= invoice.id %>}">
          <%= render 'invoices/form', supplier: invoice.supplier, invoice: invoice %>
        </div>
      </td>
    </tr>
 </div>
</div>
