<ul class="nav">
  <li class="nav-item-dropdown">
    <a class="nav-link dropdown-toggle font-weight-light text-muted px-2" data-toggle="dropdown" href="#category-<%= field_group.fieldable.id %>-field-menu" role="button" aria-haspopup="true" aria-expanded="false">Field</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" data-toggle="collapse" href="#category-<%= field_group.fieldable.id %>-field-<%= field.id %>-form-edit">Edit Field</a>
      <div class="dropdown-divider"></div>
      <%= link_to 'Remove Field', [field_group.fieldable, field_group],  method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "dropdown-item" %>
      <%= link_to 'Delete Field', [field_group.fieldable, field_group.field],  method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item-dropdown">
    <a class="nav-link dropdown-toggle font-weight-light text-muted px-2" data-toggle="dropdown" href="#category-<%= field_group.fieldable.id %>-value-menu" role="button" aria-haspopup="true" aria-expanded="false">Value</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" data-toggle="collapse" href="#category-<%= field_group.fieldable.id %>-field-<%= field.id %>-value-form-new">New Value</a>
    </div>
  </li>
</ul>
