<div class="card border-dark">
  <div class="card-header py-0">
    <%= render "fields/field/header", fieldable: fieldable %>
  </div>

  <!-- FIELD POP-UP FORM-->
  <div class="<%= dynamic_id(name: 'accordion', klass: fieldable, child_klass: 'field') %>">
    <%= render "fields/new", fieldable: fieldable %>
    <%= render "fields/add", fieldable: fieldable %>
  </div>

  <div class="card-body py-3 px-1">
    <div class="col">
      <div id="<%= dynamic_id(name: 'collection-render', klass: fieldable, child_klass: 'field_groups') %>">
        <%= render "field_groups/field_group/field_group", fieldable: fieldable %>
      </div>
    </div>
  </div>
</div>
