<div id="<%= dynamic_id(name: 'list-item', klass: fieldable, child_klass: field_group) %>">
  <span class="collapse dynamic-id"><%= dynamic_id(name: 'list-item', klass: fieldable, child_klass: field_group) %></span>
  <div class="card">
    <div>
      <%= render "field_groups/header/header", fieldable: fieldable, field_group: field_group %>
    </div>

    <div class="collapse close-toggle-form" id="<%= dynamic_id(name: 'form-edit-target', klass: fieldable, child_klass: field_group.field) %>" data-parent="#accordion-nav-menu">
      <%= render 'fields/forms/edit', fieldable: fieldable, field_group: field_group %>
    </div>

    <div class="collapse" id="<%= dynamic_id(name: 'collection-target', klass: field_group, child_klass: 'values') %>" data-parent="#<%= dynamic_id(name: 'collection', klass: fieldable, child_klass: 'field_groups') %>">
      <%= render "field_groups/body", field_group: field_group %> 
    </div>
  </div>
</div>
