<%= form_with model: ProductPart.new, url: search_product_parts_path, method: :get, id: form_id do |f| %>
  <div class="form">
    <%= hidden_field_tag :form_id, form_id %>
    <div class="form-row align-items-center bg-white">
      <!-- <div class="input-group input-group-sm align-items-center bg-white"> -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text bg-transparent border-top-0 border-left-0 border-bottom-0">
            <%= f.check_box :category, checked: true %>
          </div>
        </div>
        <%= f.select :type, options_for_select(product_part_search_vl(:product_part)), {}, {class: "form-control border-0 ml-2 pl-2"} %>
        <button class="btn btn-sm bg-transparent rounded-circle text-primary" type="submit"><%= (fa_icon "plus-circle") %></button>
      </div>

    </div>

  </div>
<% end %>
