<div class="card border-dark bg-light m-1" id="<%= dom_ref(obj_ref, 'show') %>">
  <div class="row align-items-center justify-content-between">

    <div class="col-auto pl-3 ml-3">
      <div class="btn-group-vertical btn-group-sm border-left border-right" role="group">
        <%= render 'product_item_groups/products/sorter', product: product, item_group: item_group, obj_ref: obj_ref %>
      </div>
    </div>

    <div class="col-10 px-0 mx-0">
      <div class="input-group border-secondary pr-1 mr-1">
        <%= product_part.name %>
      </div>
    </div>

    <div class="col-1 pl-0 ml-0">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group align-items-center" role="group">
          <%= button_to product_product_item_group_path(product_part, item_group, obj_ref: obj_ref), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "btn btn-sm bg-transparent font-weight-light text-danger pl-1" do %>
            <span><%= (fa_icon "minus-square") %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
