<span class="collapse dynamic-id"><%= dynamic_id(name: 'list-item', klass: element_kind, child_klass: element) %></span>
<div class="card border-dark">
  <div class="card-header py-0">
    <%= render "elements/header/header", element_kind: element_kind %>
  </div>

  <div class="collapse close-toggle-form" id="<%= dynamic_id(name: 'form-new-target', klass: element_kind, child_klass: 'field') %>" data-parent="#accordion-nav-menu">
    <%= render "fields/forms/new", element_kind: element_kind %>
  </div>

  <div class="card-body py-3 px-1">
    <div class="col">
      <%= render "fields/body", element_kind: element_kind %>
    </div>
  </div>
</div>
