<div class="card border m-1 border-dark" id="<%= dom_ref(obj_ref, 'show') %>">
  <div class="card-header">
    <%= render "item_fields/product_parts/header", origin: origin, item_field: item_field, item_group: item_group, obj_ref: obj_ref %>
  </div>

  <div class="card-body p-1 collapse" id="<%= dom_ref(obj_ref, 'body') %>">
    <div id='<%= dom_ref(obj_ref, "#{to_snake(item_field.sti_value_type)}-index") %>'>
      <%= render "item_values/item_fields/index", origin: item_field %>
    </div>
  </div>
</div>
