<div class="card border m-1 border-dark <%= dom_ref(target, 'card') %>" id="<%= dom_ref(item_group, 'show') %>">
  <div class="card-header <%= dom_ref(target, 'header') %> pt-0">
    <%= render "item_fields/product_parts/header", origin: origin, target: target, item_group: item_group %>
  </div>

  <div class="card-body p-2 collapse" id="<%= dom_ref(item_group, 'body') %>">
    <div id='<%= dom_ref(target, "#{to_snake(target.sti_value_type)}-index") %>'>
      <%= render "item_values/item_fields/index", origin: target %>
    </div>
  </div>
</div>
