<p id="notice"><%= notice %></p>
<h1>Values</h1>

<h4>Export Values</h4>
<p>
  <%= link_to 'Excel', values_path(format: :xlsx) %>
  <%= link_to 'CSV', values_path(format: 'csv') %>
</p>

<h4>Import Elements</h4>
<%= form_tag import_values_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <% @values.each do |value| %>
      <tr>
        <td><%= value.id %></td>
        <td><%= value.name %></td>
        <td><%= link_to 'Delete', value, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <tbody>
</table>
