<% fieldable.field_groups.order(:sort).each do |field_group| %>
  <div class="card">
    <div class="card-body">
      <div class="row align-items-center">

        <div class="col-auto">
          <div class="align-self-end mr-3">
            <div class="btn-group-vertical">
              <div class="btn" role="group">
                <%= render 'field_groups/sorter', fieldable: fieldable, field_group: field_group %>
              </div>
            </div>
          </div>
        </div>


        <div class="col-10 align-self-center" id="fieldValues<%= field_group.field.id %>">
          <%= render 'fields/field', fieldable: fieldable, field: field_group.field %>


          <div class="collapse" id="collapseValueNewForm<%= field_group.field.id %>" data-parent="#fieldValues">
            <div class="card mb-3">

              <div class="card-header pt-0 pb-0 bg-white">
                New field value
              </div>

              <div class="card-body">
                <%= render 'fields/values/form', field: field_group.field, value: Value.new %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
