<% fieldable.field_groups.order(:sort).each do |field_group| %>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">

        <div class="col-auto">
          <h5 class="mb-0">
            <%= render "field_groups/toggle_icon", fieldable: fieldable, field_group: field_group %>
          </h5>
        </div>

        <div class="col">
          <%= render 'fields/field_name', field: field_group.field %>
        </div>

        <div class="col-auto">
          <%= render "fields/dropdown", field: field_group.field %>
        </div>

        <div class="btn-group-vertical">
          <div class="btn py-0" role="group">
            <%= render 'field_groups/sorter', fieldable: fieldable, field_group: field_group %>
          </div>
        </div>
      </div>

      <div class="collapse field-forms" id="field-<%= field_group.field.id %>-edit" data-parent="#accordion-field_group-<%= fieldable.id %>">
        <div class="card card-body p-1 bg-light">
          <div>
            <span class="card-title">Edit Field</span>
            <button type="button" class="close float-right close-field-form">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= render "fields/form", fieldable: fieldable, field: field_group.field %>
        </div>
      </div>

      <div class="collapse field-forms" id="field-<%= field_group.field.id %>-value-form" data-parent="#accordion-field_group-<%= fieldable.id %>">
        <div class="card card-body p-1 bg-light">
          <div>
            <span class="card-title">New Value</span>
            <button type="button" class="close float-right close-field-form">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= render "fields/values/form", field: field_group.field, value: Value.new %>
        </div>
      </div>
    </div>

    <!-- CARD BODY -->
    <!-- MY VALUES -->
    <div class="collapse" id="field-<%= field_group.field.id %>-values" data-parent="#accordion-field_group-<%= fieldable.id %>">
      <div class="card-body">
        <div id="accordion-field-<%= field_group.field.id %>-values">
          <div class="col">
            <%= render "fields/values/value", field: field_group.field %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
