<% fieldable.field_groups.order(:sort).each do |field_group| %>
  <div class="media">
    <div class="media-body">
      <tr>
        <td>
          <div class="btn-group-vertical">
            <div class="btn" role="group">
              <%= render 'field_groups/sorter', fieldable: fieldable, field_group: field_group %>
            </div>
          </div>

          <a href="<%= polymorphic_path([fieldable, field_group.field]) %>" class="btn btn-link" type="button" aria-describedby: "button-addon1">
            <%= field_group.field.display %>
          </a>

          <div class="collapse" id="collapseFieldForm#{<%= field_group.field.id %>}">
            <%= render 'fields/form', fieldable: fieldable, field: field_group.field %>
          </div>
        </td>

        <td>
          <button class="btn btn-sm btn-outline-info float-right" type="button" data-toggle="collapse" data-target="#collapseFieldForm#{<%= field_group.field.id %>}" aria-expanded="false" aria-controls="collapseFieldForm#{<%= field_group.field.id %>}" aria-describedby="button-addon1">
            Edit
          </button>
        </td>
      </tr>
   </div>
  </div>
<% end %>
