<ul class="nav">
  <li class="nav-item-dropdown">
    <a class="nav-link dropdown font-weight-light text-muted px-2" data-toggle="dropdown" href="#<%= dynamic_id(name: 'dimension-menu', klass: sub_category, child_klass: sub_category.categorizable) %>" role="button" aria-haspopup="true" aria-expanded="false"><%= (fa_icon "bars", text: 'Dimension', right: true) %></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" data-toggle="collapse" href="#<%= dynamic_id(name: 'form-edit-target', klass: sub_category, child_klass: sub_category.categorizable) %>"><%= categorizable_label(sub_category, "edit") %></a>
      <div class="dropdown-divider"></div>
      <%= link_to 'Remove Dimension', [category, sub_category],  method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "dropdown-item" %>
      <%= link_to 'Delete Dimension', [category, sub_category.categorizable],  method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "dropdown-item" %>
    </div>
  </li>

  <li class="nav-item-dropdown">
    <a class="nav-link dropdown font-weight-light text-muted px-2" data-toggle="dropdown" href="#<%= dynamic_id(name: 'field-menu', klass: sub_category.categorizable, child_klass: nil) %>" role="button" aria-haspopup="true" aria-expanded="false"><%= (fa_icon "bars", text: 'Field', right: true) %></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" data-toggle="collapse" href="#<%= dynamic_id(name: 'form-new-target', klass: sub_category.categorizable, child_klass: 'field') %>">New field</a>
      <a class="dropdown-item" data-toggle="collapse" href="#<%= dynamic_id(name: 'form-new-target', klass: sub_category.categorizable, child_klass: 'field_group') %>">Existing field</a>
    </div>
  </li>
</ul>
