<div class="dropdown float-right">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Options
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" data-toggle="collapse" href="#<%= categorizable_href_target(sub_category, 'edit') %>"><%= categorizable_label(sub_category, "edit") %></a>
    <a class="dropdown-item" data-toggle="collapse" href="#<%= categorizable_href_target(sub_category, 'field-form-new') %>">New field</a>
    <a class="dropdown-item" data-toggle="collapse" href="#<%= categorizable_href_target(sub_category, 'field-group-form-new') %>">Existing field</a>
    <%= link_to 'Delete Dimension', [category, sub_category],  method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "dropdown-item" %>
  </div>
</div>
