<ul class="nav">
  <li class="nav-item-dropdown">
    <a class="nav-link dropdown font-weight-light text-muted px-2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= (fa_icon "bars") %></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" data-toggle="collapse" href="#<%= dynamic_id(name: 'form-new-target', klass: category, child_klass: klass_name(categorizable)) %>">New <%= categorizable %></a>
      <a class="dropdown-item" data-toggle="collapse" href="#<%= dynamic_id(name: 'form-add-target', klass: category, child_klass: klass_name(categorizable)) %>">Add Existing <%= categorizable %></a>
    </div>
  </li>
</ul>
