<%= render "dimensions/header", category: category %>
<% category.sorted_dimensions.each do |sub_category| %>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">

        <div class="col-auto">
          <h5 class="mb-0">
            <%= render "sub_categories/sub_category/toggle_icon", category: category, sub_category: sub_category %>
          </h5>
        </div>

        <div class="col" id="<%= categorizable_name(sub_category) %>">
          <%= render 'sub_categories/sub_category/sub_category_name', sub_category: sub_category %>
        </div>

        <div class="col-auto">
          <%= render "sub_categories/sub_category/dropdown", category: category, sub_category: sub_category %>
        </div>

        <div class="btn-group-vertical">
          <div class="btn py-0" role="group">
            <%= render 'sub_categories/sub_category/sorter', category: category, sub_category: sub_category %>
          </div>
        </div>

      </div>

      <div class="collapse dimension-form" id="<%= categorizable_href_target(sub_category, 'form') %>" data-parent="#accordion-sub_category-<%= category.id %>">
        <div class="card card-body p-1 bg-light">
          <div>
            <span class="card-title"><%= categorizable_label(sub_category, "edit") %></span>
            <button type="button" class="close float-right close-dimension-form">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="<%= categorizable_href_target(sub_category, 'edit') %>">
            <%= render "dimensions/form", category: category, dimension: sub_category.categorizable %>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>
