<% category.categorizable_types.each do |categorizable| %>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-auto">
          <h5 class="mb-0">
            <a role="button" data-toggle="collapse" href="#<%= dynamic_id(name: 'collection-target', klass: category, child_klass: categorizable.downcase.pluralize) %>" aria-expanded="false">
            </a>
          </h5>
        </div>
        <div class="col">
          <span class="text-capitalize font-weight-bold"><%= categorizable.pluralize %></span>
        </div>
      </div>
    </div>
    <div class="collapse" id="<%= dynamic_id(name: 'collection-target', klass: category, child_klass: categorizable.downcase.pluralize) %>" data-parent="#<%= dynamic_id(name: 'accordion', klass: category, child_klass: categorizable.downcase) %>">
      <div class="card-body">
        <% category.categorizable_list(categorizable).each do |sub_category| %>
          <%= render "sub_categories/sub_category/categorizable", category: category, sub_category: sub_category %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
