<% category.categorizable_types.each do |categorizable| %>
  <div class="card">

    <div class="card-header" id="<%= dynamic_id(name: 'accordion', klass: categorizable.downcase, child_klass: 'menu') %>">
      <div class="row align-items-center">
        <div class="col-auto">
          <h5 class="mb-0">
            <a id="" role="button" data-toggle="collapse" href="#<%= dynamic_id(name: 'collection-target', klass: category, child_klass: categorizable.downcase.pluralize) %>" aria-expanded="true">
            </a>
          </h5>
        </div>
        <div class="col">
          <span class="text-capitalize font-weight-bold"><%= categorizable.pluralize %></span>
        </div>

        <ul class="nav">
          <li class="nav-item-dropdown">
            <a class="nav-link dropdown font-weight-light text-muted px-2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= (fa_icon "bars", text: '', right: true) %></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-toggle="collapse" href="#<%= dynamic_id(name: 'form-new-target', klass: category, child_klass: 'dimension') %>">New Dimension</a>
              <a class="dropdown-item" data-toggle="collapse" href="#<%= dynamic_id(name: 'form-new-target', klass: category, child_klass: 'sub_category') %>">Add Existing Dimension</a>
            </div>
          </li>
        </ul>
      </div>

        <div class="collapse close-toggle-form" id="<%= dynamic_id(name: 'form-new-target', klass: category, child_klass: 'sub_category') %>" data-parent="#<%= dynamic_id(name: 'accordion', klass: categorizable.downcase, child_klass: 'menu') %>">
          <div class="card card-body p-1 bg-light">
            <div>
              <span class="card-title">Associate Existing <%= categorizable %></span>
              <button type="button" class="close float-right close-form">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="<%= dynamic_id(name: 'form-new-render', klass: category, child_klass: 'sub_category') %>">
              <%= render 'sub_categories/form', fieldable: category, sub_category: SubCategory.new %>
            </div>
          </div>
        </div>

        <div class="collapse close-toggle-form" id="<%= dynamic_id(name: 'form-new-target', klass: category, child_klass: categorizable.downcase) %>" data-parent="#<%= dynamic_id(name: 'accordion', klass: categorizable.downcase, child_klass: 'menu') %>">
          <div class="card card-body p-1 bg-light">
            <div>
              <span class="card-title">Create New <%= categorizable %></span>
              <button type="button" class="close float-right close-form">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="<%= dynamic_id(name: 'form-new-render', klass: category, child_klass: categorizable.downcase) %>">
              <%= render "#{categorizable.downcase.pluralize}/form", category: category, categorizable: Dimension.new %>
            </div>
          </div>
        </div>

      </div>


    <div class="collapse show" id="<%= dynamic_id(name: 'collection-target', klass: category, child_klass: categorizable.downcase.pluralize) %>" data-parent="#<%= dynamic_id(name: 'accordion', klass: category, child_klass: categorizable.downcase) %>">
      <div class="card-body">
        <% category.categorizable_list(categorizable).each do |sub_category| %>
          <%= render "sub_categories/sub_category/categorizable", category: category, sub_category: sub_category %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
