<small class="ml-5 my-0 py-0 form-text text-muted input-label">Edit Element-Kind</small>
<div class="row justify-content-between align-items-center bg-light" id="<%= dom_ref(element_kind, 'header') %>">
  <button class="caret-toggle btn btn-lg bg-transparent pl-2 border py-0" data-toggle="collapse" data-target="#<%= dom_ref(element_group, 'body') %>" type="button" aria-expanded="false"><%= (fa_icon "caret-right") %></button>

  <ul class="nav ml-3 mr-0">
    <li class="nav-item-dropdown">
      <a class="nav-link dropdown bg-transparent text-info m-0 p-0 border" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= (fa_icon "ellipsis-v") %></a>
      <%= render "element_kinds/header/dropdown_menu", element_kind: element_kind %>
    </li>
  </ul>

  <div class="col" id="<%= dom_ref(element_group, 'accordion') %>">
    <div class="collapse show toggle-sibling" id="<%= dom_ref(element_group, 'edit') %>" data-label="Edit Field" data-parent="#<%= dom_ref(element_group, 'accordion') %>">
      <%= render "element_kinds/forms/form", element_kind: element_kind, url: polymorphic_url([elementable, :poly, element_kind]),  form_id: dom_ref(element_kind, 'edit-form-id') %>
    </div>

    <div class="collapse toggle-sibling" id="<%= dom_ref(element_group, 'element-new') %>" data-label="New Element" data-parent="#<%= dom_ref(element_group, 'accordion') %>">
      <%= render "elements/forms/form", element_kind: element_kind, element: Element.new, form_id: dom_ref(element_kind, 'element-new-form-id') %>
    </div>

    <div class="collapse toggle-sibling" id="<%= dom_ref(element_group, 'element_join-add') %>" data-label="Add Element" data-parent="#<%= dom_ref(element_group, 'accordion') %>">
      <%= render 'element_joins/forms/form', poly_element: element_kind, element_join: ElementJoin.new, form_id: dom_ref(element_kind, 'element_join-add-form-id') %>
    </div>
  </div>

  <div class="col-1">
    <div class="row align-items-center">
      <div class="col mx-2 p-0">
        <%= render "element_groups/sort_btn_group", elementable: elementable, element_group: element_group %>
      </div>
      <div class="col p-0">
        <%= link_to (fa_icon "times"), polymorphic_url([elementable, elementable.element_groups.first]), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "delete-btn btn btn-sm btn-transparent text-danger pl-0 ml-0 disabled" %>
      </div>
    </div>
  </div>
</div>
