<div class="card mb-1 border border-dark" id="<%= dom_ref(element_group, 'show') %>">
  <div class="card-header pt-0 pb-3 border">
    <%= render "element_kinds/poly_element_kinds/header", elementable: elementable, element_group: element_group, element_kind: element_kind %>
  </div>

  <div class="card-body p-1 collapse" id="<%= dom_ref(element_group, 'body') %>">
    <div id="<%= dom_ref(element_kind, 'element-index') %>">
      <%= render "elements/index", element_kind: element_kind %>
    </div>
  </div>
</div>
<!-- data-parent="#<%#= dom_ref(elementable, 'body') %>" -->
