<% field.values.each do |value| %>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">

        <div class="col mb-0" id="value-name-<%= value.id %>">
          <%= render 'values/value/value_name', value: value %>
        </div>

        <div class="col-auto">
          <%= render "values/value/drop_down", field: field, value: value %>
        </div>

      </div>

      <div class="collapse close-toggle-form" id="value-<%= value.id %>-form-edit" data-parent="#accordion-field-<%= field.id %>-values">
        <div class="card card-body p-1 bg-light">
          <div>
            <span class="card-title">Edit Value</span>
            <button type="button" class="close float-right close-form">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="value-<%= value.id %>-edit %>">
            <%= render "values/form", field: field, value: value %>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>
