<% fieldable.field_groups.order(:sort).each do |field_group| %>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">

        <div class="col-auto">
          <h5 class="mb-0">
            <%= render "field_groups/field_group/toggle_icon", fieldable: fieldable, field_group: field_group %>
          </h5>
        </div>

        <div class="col" id="field-name-<%= field_group.field.id %>">
          <%= render 'fields/field/field_name', field: field_group.field %>
        </div>

        <div class="col-auto mr-0 pr-1">
          <%= render "fields/field/dropdown", field_group: field_group, field: field_group.field %>
        </div>

        <div class="btn-group-vertical">
          <div class="btn btn-sm p-0 m-0" role="group">
            <%= render 'field_groups/field_group/sorter', fieldable: fieldable, field_group: field_group %>
          </div>
        </div>
      </div>

      <div class="collapse close-toggle-form" id="<%= dynamic_id(name: 'form-edit-target', klass: fieldable, child_klass: field_group.field) %>" data-parent="#<%= dynamic_id(name: 'accordion', klass: fieldable, child_klass: 'field_group') %>">
        <div class="card card-body p-1 bg-light">
          <div>
            <span class="card-title">Edit Field</span>
            <button type="button" class="close float-right close-form">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="<%= dynamic_id(name: 'form-edit-render', klass: fieldable, child_klass: field_group.field) %>">
            <%= render "fields/form", fieldable: fieldable, field: field_group.field %>
          </div>
        </div>
      </div>

      <div class="collapse close-toggle-form" id="<%= dynamic_id(name: 'form-new-target', klass: field_group, child_klass: 'value') %>" data-parent="#<%= dynamic_id(name: 'accordion', klass: fieldable, child_klass: 'field_group') %>">
        <div class="card card-body p-1 bg-light">
          <div>
            <span class="card-title">New Value!</span>
            <button type="button" class="close float-right close-form">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="<%= dynamic_id(name: 'form-new-render', klass: field_group, child_klass: 'value') %>">
            <%= render "values/form", field: field_group.field, value: Value.new %>
          </div>
        </div>
      </div>
    </div>

    <!-- CARD BODY -->
    <!-- MY VALUES -->
    <div class="collapse" id="<%= dynamic_id(name: 'collection-target', klass: field_group, child_klass: 'values') %>" data-parent="#<%= dynamic_id(name: 'accordion', klass: fieldable, child_klass: 'field_group') %>">
      <div class="card-body">
        <div id="accordion-field-<%= field_group.field.id %>-values">
          <div class="col">
            <div id="<%= dynamic_id(name: 'collection-render', klass: field_group, child_klass: 'values') %>">
              <%= render "values/value/value", field_group: field_group, field: field_group.field %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
