<% fieldable.field_groups.order(:sort).each do |field_group| %>

  <div class="card" >
    <div class="card-header py-0">
      <%= render "field_groups/field_group/header", fieldable: fieldable, field_group: field_group %>
    </div>

    <div>
      <%= render 'fields/edit', fieldable: fieldable, field_group: field_group %>
    </div>

    <!-- MY VALUES -->
    <div class="collapse" id="<%= dynamic_id(name: 'collection-target', klass: field_group, child_klass: 'values') %>" data-parent="#<%= dynamic_id(name: 'accordion', klass: fieldable, child_klass: 'field_group') %>">
      <div class="card-body p-3">
        <div id="<%= dynamic_id(name: 'accordion', klass: field_group, child_klass: 'value') %>">
          <div class="col">
            <div id="<%= dynamic_id(name: 'collection-render', klass: field_group, child_klass: 'values') %>">
              <%= render "values/value/value", field_group: field_group, field: field_group.field %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
