<% fieldable.field_groups.order(:sort).each do |field_group| %>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">

        <div class="col-auto">
          <h5 class="mb-0">
            <%= render "field_groups/field_group/toggle_icon", fieldable: fieldable, field_group: field_group %>
          </h5>
        </div>

        <div class="col" id="field-name-<%= field_group.field.id %>">
          <%= render 'fields/field/field_name', field: field_group.field %>
        </div>

        <div class="col-auto mr-0 pr-1">
          <%= render "fields/field/dropdown", field_group: field_group, field: field_group.field %>
        </div>

        <div class="btn-group-vertical">
          <div class="btn btn-sm p-0 m-0" role="group">
            <%= render 'field_groups/field_group/sorter', fieldable: fieldable, field_group: field_group %>
          </div>
        </div>
      </div>

      <div class="collapse close-toggle-form" id="field-group-<%= field_group.id %>-field-<%= field_group.field.id %>-form-edit" data-parent="#accordion-field_group-<%= fieldable.id %>">
        <div class="card card-body p-1 bg-light">
          <div>
            <span class="card-title">Edit Field</span>
            <button type="button" class="close float-right close-form">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="category-<%= fieldable.id %>-field-group-new">
            <%= render "fields/form", fieldable: fieldable, field: field_group.field %>
          </div>
        </div>
      </div>

      <div class="collapse close-toggle-form" id="field-group-<%= field_group.id %>-field-<%= field_group.field.id %>-edit" data-parent="#accordion-field_group-<%= fieldable.id %>">
        <div class="card card-body p-1 bg-light">
          <div>
            <span class="card-title">New Value</span>
            <button type="button" class="close float-right close-form">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="field-<%= field_group.field.id %>-new">
            <%= render "values/form", field: field_group.field, value: Value.new %>
          </div>
        </div>
      </div>
    </div>

    <!-- CARD BODY -->
    <!-- MY VALUES -->
    <div class="collapse" id="collapse-field-<%= field_group.field.id %>-values" data-parent="#accordion-field_group-<%= fieldable.id %>">
      <div class="card-body">
        <div id="accordion-field-<%= field_group.field.id %>-values">
          <div class="col">
            <div id="field-<%= field_group.field.id %>-values">
              <%= render "values/value/value", field: field_group.field %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
