<div class="row align-items-center">
  <div class="col-auto">
    <h5 class="mb-0">
      <%= render 'field_groups/field_group/collapse', field_group: field_group %>
    </h5>
  </div>

  <div class="col" id="<%= dynamic_id(name: 'render-name', klass: field_group, child_klass: 'field') %>">
    <%= render 'fields/field/field_name', field_group: field_group, field: field_group.field %>
  </div>

  <div class="col-auto mr-0 pr-1">
    <%= render "field_groups/field_group/nav_menu", field_group: field_group, field: field_group.field %>
  </div>

  <div class="btn-group-vertical">
    <div class="btn btn-sm p-0 m-0" role="group">
      <%= render 'field_groups/field_group/sorter', fieldable: fieldable, field_group: field_group %>
    </div>
  </div>
</div>
