<% field.values.each do |value| %>
    <tr>
      <td id="valueForm<%= field.id %>">
        <div class="row align-items-center">

          <div class="collapse" id="collapseValueNewForm<%= field.id %>" data-parent="#valueForm<%= field.id %>" aria-labelledby="valueForm<%= field.id %>">
            <div class="card">
              <div class="card-body">
                <%= render "fields/values/form", field: field, value: Value.new %>
              </div>
            </div>
          </div>

          <div class="col-10">
            <button class="btn btn-sm btn-light btn-block" role="button" aria-expanded="false" aria-controls="collapseValueEditForm<%= value.id %>">
              <%= value.name %>
            </button>
          </div>

          <div class="col">
            <button class="btn btn-sm badge badge-primary" data-toggle="collapse" data-target="#collapseValueEditForm<%= value.id %>" role="button" aria-expanded="false" aria-controls="collapseValueEditForm<%= value.id %>">
              Edit
            </button>
          </div>
        </div>

        <div class="collapse" id="collapseValueEditForm<%= value.id %>" data-parent="#valueForm<%= field.id %>" aria-labelledby="valueForm<%= field.id %>">
          <div class="card">
            <div class="card-body">
              <%= render "fields/values/form", field: field, value: value %>
            </div>
          </div>
        </div>
      </tr>
    </td>
<% end %>
