<% field.values.each do |value| %>
  <div id="fieldValues">
    <div id="valueForm">
      <tr>
        <td>
          <div class="row align-items-center">
            <div class="col-10">
              <button class="btn btn-sm btn-light btn-block" data-toggle="collapse" data-target="#collapseValueEditForm#{<%= value.id %>}" role="button" aria-expanded="false" aria-controls="collapseValueEditForm#{<%= value.id %>}">
                <%= value.name %>
              </button>
            </div>


          </div>

          <div class="row align-items-center">
            <div class="col-10">
              <div id="collapseValueEditForm#{<%= value.id %>}" class="collapse" aria-labelledby="valueForm" data-parent="#fieldValues">
                <div class="card">
                  <div class="card-body">
                    <%= render "fields/values/form", field: value.field, value: value %>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </tr>
      </td>
    </div>
  </div>
<% end %>
