<hr>
<% field.values.each do |value| %>
  <div id="fieldValues">
    <div id="valueForm">
      <div class="card mb-3">
        <div class="card-header pt-0 pb-0 bg-white">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseValueNewForm#{<%= field.id %>}" aria-expanded="true" aria-controls="collapseValueNewForm#{<%= field.id %>}">
            <%= value.name %>
          </button>
        </div>
        <div id="collapseValueNewForm#{<%= field.id %>}" class="collapse" aria-labelledby="valueForm" data-parent="#fieldValues">
          <div class="card-body">
            <%= render "fields/values/form", field: field, value: Value.new %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
