<% field.values.each do |value| %>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">

        <div class="col mb-0">
          <%= render 'values/value_name', value: value %>
        </div>

        <div class="col-auto">
          <%= render "values/dropdown", field: field, value: value %>
        </div>

      </div>

      <div class="collapse" id="value-<%= value.id %>-form" data-parent="#accordion-field-<%= field.id %>-values">
        <div class="card card-body p-1 bg-light">
          <span class="card-title">Edit Value</span>
          <%= render "fields/values/form", field: field, value: value %>
        </div>
      </div>

    </div>
  </div>
<% end %>
