<small class="ml-5 my-0 py-0 form-text text-muted input-label">Edit <%= obj_to_cap_hyph_str(origin) %></small>
<div class="row justify-content-between align-items-center bg-light">
  <button class="caret-toggle btn btn-lg bg-transparent pl-2 border py-0" data-toggle="collapse" data-target="#<%= dom_ref(origin, 'body') %>" type="button" aria-expanded="false"><%= (fa_icon "caret-down") %></button>

  <ul class="nav ml-3 mr-0">
    <li class="nav-item-dropdown">
      <a class="nav-link dropdown bg-transparent text-info m-0 p-0 border" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><%= (fa_icon "ellipsis-v") %></a>
      <%= render "product_kinds/header/dropdown_menu", origin: origin %>
    </li>
  </ul>

  <div class="col" id="<%= dom_ref(origin, 'accordion') %>">
    <div class="collapse show toggle-sibling" id="<%= dom_ref(origin, 'edit') %>" data-label="Edit <%= obj_to_cap_hyph_str(origin) %>" data-parent="#<%= dom_ref(origin, 'accordion') %>">
      <%= render "product_kinds/forms/form", origin: origin, form_id: dom_ref(origin, 'edit-form-id') %>
    </div>

    <% origin_assocs(origin).each do |target| %>
      <div class="collapse toggle-sibling" id='<%= dom_ref(origin, "#{target}-item_group-add") %>' data-label="Add <%= obj_to_cap_hyph_str(target) %>" data-parent="#<%= dom_ref(origin, 'accordion') %>">
        <%= render 'item_groups/forms/form', origin: origin, target: target, item_group: ItemGroup.new, form_id: dom_ref(origin, "#{target}-item_group-add-form-id") %>
      </div>
    <% end %>
  </div>

  <div class="col-1">
    <div class="row align-items-center">
      <div class="col mx-2 p-0">
        <%#= render "product_kinds/header/sorter", origin: origin, item_kind: item_kind %>
      </div>
      <div class="col p-0">
        <%= link_to (fa_icon "times"), polymorphic_path(origin), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "delete-btn btn btn-sm btn-transparent text-danger pl-0 ml-0 disabled" %>
      </div>
    </div>
  </div>
</div>
