<div class="col-3">
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          Art Categories
        </div>
        <div class="col-auto">

          <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#<%= dynamic_id(name: 'form-new-target', klass: 'category', child_klass: nil) %>" aria-expanded="false">
            New
          </button>
        </div>
      </div>
    </div>
    <div class="collapse" id="<%= dynamic_id(name: 'form-new-target', klass: 'category', child_klass: nil) %>">
      <div class="card-body">
        <div id="<%= dynamic_id(name: 'form-new-render', klass: 'category', child_klass: nil) %>">
          <%= render "categories/form", fieldable: Category.new %>
        </div>
      </div>
    </div>
  </div>

  <div class="list-group" id="list-tab" role="tablist">
    <%= render "categories/category/tabs", categories: categories %>
  </div>
</div>

<div class="col-9">
  <div id="cat_show">
    <%= render "categories/category/category", category: @category %>
  </div>
</div>
