<small class="ml-5 my-0 py-0 form-text text-light input-label">Edit Medium</small>
<div class="row justify-content-between align-items-center bg-light" id="category-header">
  <button class="caret-toggle btn btn-lg bg-transparent pl-2 border py-0" id="category-caret-toggle" data-toggle="collapse" data-target="#category-body" type="button" aria-expanded="false"><%= (fa_icon "caret-right") %></button>

  <ul class="nav ml-3 mr-0">
    <li class="nav-item-dropdown">
      <a class="nav-link dropdown bg-transparent m-0 p-0 border" id="category-nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= (fa_icon "ellipsis-v") %></a>
      <%= render "categories/dropdown_menu" %>
    </li>
  </ul>

  <div class="col" id="accordion-category-forms">
    <div class="collapse show toggle-sibling" id="category-edit-form" data-parent="#accordion-category-forms">
      <%= render "categories/form", category: category, form_id: 'category-edit-form-id' %>
    </div>

    <div class="collapse toggle-sibling" id="category-field-new" data-parent="#accordion-category-forms">
      <%= render "fields/forms/new", fieldable: category %>
    </div>

    <div class="collapse toggle-sibling" id="category-field_group-add" data-parent="#accordion-category-forms">
      <%= render "field_groups/forms/add", fieldable: category %>
    </div>
  </div>

  <div class="col-1 border align-item-center" id="category-delete">
    <a id="category-delete-btn" href="" data-method="delete" data-path="" data-remote="true" data-confirm="Are you sure?" class="collapse show delete-btn btn btn-sm btn-transparent text-danger pl-0 ml-0 disabled" role="button"><span><%= (fa_icon "times") %></span></a>
  </div>
</div>
