<%= form_with model: target, url: url, id: form_id do |f| %>
  <div class="form">
    <%= hidden_field_tag :form_id, form_id %>
    <div class="collapse">
      <%= f.check_box :display_name, class: 'form-check-input display' %>
      <%= f.check_box :category, class: 'form-check-input category' %>
    </div>
    <div class="form-row align-items-center">
      <%= render "sub_parts/forms/input_group", f: f, target: target, form_id: form_id %>
    </div>
  </div>
<% end %>
