<div class="card-header py-0">
  <div class="row align-items-center">
    <div class="col-auto">
      <h5 class="mb-0">
        <%= render 'field_groups/header/collapse', field_group: field_group %>
      </h5>
    </div>

    <div class="col" id="<%= dynamic_id(name: 'display-name', klass: field_group, child_klass: nil) %>">
      <%= render 'field_groups/header/field_name', field: field_group.field %>
    </div>

    <div class="col-auto mr-0 pr-1">
      <%= render "field_groups/header/nav_menu", field_group: field_group, field: field_group.field %>
    </div>

    <div class="btn-group-vertical">
      <div class="btn btn-sm p-0 m-0" role="group">
        <%= render 'field_groups/header/sorter', fieldable: fieldable, field_group: field_group %>
      </div>
    </div>
  </div>
</div>
