<div class="card border m-1 border-dark" id="<%= dom_ref('product_part', product_part.id, 'show') %>">
  <div class="card-header">
    <%= render "product_parts/header/header", product_part: product_part %>
  </div>

  <div class="card-body p-1 collapse show" id="<%= dom_ref(product_part, 'body') %>">
    <div class="card bg-light">
      <div class="form-row align-items-center">

        <div class="col collapse show" id="<%= dom_ref(product_part, "toggle-btn-group") %>">
          <!-- <button class="btn btn-xs btn-secondary btn-outline-secondary mb-1 nav-toggle" type="button" data-toggle="collapse" href='.<%#= dom_ref(product_part, "toggle-btn-group") %>'><%#= (fa_icon "bars") %></button> -->
          <%= render "product_parts/forms/nested_form_toggle", product_part: product_part %>
        </div>
        <%= render "product_parts/forms/nested_forms", product_part: product_part %>
      </div>
    </div>

    <div id='<%= dom_ref(product_part, "#{to_snake(product_part.sti_field_type)}-index") %>'>
      <%= render "item_fields/product_parts/index", origin: product_part %>
    </div>

    <% self_join_assocs(product_part, :product_kind).each do |type| %>
      <div id='<%= dom_ref(product_part, "#{to_snake(type)}-index") %>'>
        <%= render "sub_parts/index", origin: product_part, type: type, origin_id: nil %>
      </div>
    <% end %>
  </div>
</div>
