<%= form_with model: item_value, url: item_value, id: form_id do |f| %>
  <div class="form" data-sti-name="item_value">
    <%= hidden_field_tag :form_id, form_id %>
    <%= f.text_field :type, class: "collapse type-field" %>
    <div class="form-row align-items-center">
      <div class="input-group">
        <div class="input-group-prepend">
          <%= render "product_parts/forms/new_type_dropdown", sti: :item_value %>
        </div>
        <%= f.text_field :name, placeholder: "enter item-value name", class: "form-control name-field border-secondary" %>
        <div class="input-group-append">
          <button class="btn btn-sm btn-primary" type="submit" disabled><%= (fa_icon "plus") %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>
