<small class="ml-5 my-0 py-0 form-text text-muted input-label">Edit <%= "#{obj_to_cap_hyph_str(target)} #{item_group.sort}" %></small>
<div class="row justify-content-between align-items-center bg-light" id="<%= dom_ref(target, 'header') %>">
  <button class="caret-toggle btn btn-lg bg-transparent pl-2 border py-0" data-toggle="collapse" data-target="#<%= dom_ref(item_group, 'body') %>" type="button" aria-expanded="false"><%= (fa_icon "caret-right") %></button>

  <ul class="nav ml-3 mr-0">
    <li class="nav-item-dropdown">
      <a class="nav-link dropdown bg-transparent text-info m-0 p-0 border" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= (fa_icon "ellipsis-v") %></a>
      <%= render "sub_parts/dropdown_menu", origin: origin, target: target %>
    </li>
  </ul>

  <div class="col" id="<%= dom_ref(item_group, 'accordion') %>">
    <div class="collapse show toggle-sibling" id="<%= dom_ref(origin, target, 'edit') %>" data-label="Edit <%= obj_to_cap_hyph_str(target) %>" data-parent="#<%= dom_ref(item_group, 'accordion') %>">
      <%= render "sub_parts/forms/form", target: target, url: product_part_sub_part_path(origin, target), form_id: dom_ref(origin, target, 'edit-form-id') %>
    </div>

    <div class="collapse toggle-sibling" id='<%= dom_ref(target, "#{to_snake(target.sti_field_type)}-item_group-add") %>' data-label="Add <%= obj_to_cap_hyph_str(target.sti_field_type) %>" data-parent="#<%= dom_ref(target, 'accordion') %>">
      <%= render 'item_groups/forms/form', origin: target, target: to_snake(target.sti_field_type), url: product_part_item_groups_path(target, ItemGroup.new), form_id: dom_ref(target, "#{to_snake(target.sti_field_type)}-item_group-add-form-id") %>
    </div>

    <% self_join_assocs(target, :product_kind).each do |sub_target| %>
      <div class="collapse toggle-sibling" id='<%= dom_ref(target, "#{sub_target}-item_group-add") %>' data-label="Add <%= obj_to_cap_hyph_str(sub_target) %>" data-parent="#<%= dom_ref(item_group, 'accordion') %>">
        <%= render 'item_groups/forms/form', origin: target, target: sub_target, url: product_part_item_groups_path(target, ItemGroup.new), form_id: dom_ref(target, "#{sub_target}-item_group-add-form-id") %>
      </div>
    <% end %>
  </div>

  <div class="col-auto">
    <div class="row align-items-center">
      <div class="col-1 mx-2 p-0">
        <%= render "item_groups/sort_btn_group", origin: origin, item_group: item_group %>
      </div>
      <div class="col-1 ml-1">
        <%= link_to (fa_icon "times"), product_part_item_group_path(target, item_group), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "delete-btn btn btn-sm btn-transparent text-danger pl-0 ml-0 disabled" %>
      </div>
    </div>
  </div>
  <!-- col-1 ml-1 -->
