<div class="card mb-1 border border-dark <%= dom_ref(target, 'card') %>" id="<%= dom_ref(item_group, 'show') %>">
  <div class="card-header <%= dom_ref(target, 'header') %> pt-0 pb-3 border">
    <%= render "sub_parts/header", origin: origin, target: target, item_group: item_group %>
  </div>

  <div class="card-body p-1 collapse" id="<%= dom_ref(item_group, 'body') %>">
    <% self_join_assocs(target, origin).each do |sub_target| %>
      <div id='<%= dom_ref(target, "#{to_snake(sub_target)}-index") %>'>
        <%= render "sub_parts/index", origin: target, target: sub_target %>
      </div>
    <% end %>
  </div>
</div>
