<div class="card mb-1 border border-dark <%= dom_ref(target, 'card') %>" id="<%= dom_ref(item_group, 'show') %>">
  <div class="card-header <%= dom_ref(target, 'header') %> pt-0 pb-3 border">
    <%= render "sub_parts/header", origin: origin, target: target, item_group: item_group %>
  </div>

  <div class="card-body p-1 collapse" id="<%= dom_ref(item_group, 'body') %>">
    <div id='<%= dom_ref(target, "#{to_snake(target.sti_field_type)}-index") %>'>
      <%= render "item_fields/product_parts/index", origin: target %>
    </div>
    <% self_join_assocs(target, :product_kind).each do |type| %>
      <div id='<%= dom_ref(target, "#{to_snake(type)}-index") %>'>
        <%= render "sub_parts/index", origin: target, type: type, origin_id: origin.id %>
      </div>
    <% end %>
  </div>
</div>
