<div class="card">
  <div class="card-header py-0">
    <%= render "sub_categories/categorizable/header", category: category, sub_category: sub_category %>
  </div>

  <div class="collapse close-toggle-form" id="<%= dynamic_id(name: 'form-edit-target', klass: sub_category, child_klass: sub_category.categorizable) %>" data-parent="#accordion-nav-menu">
    <%= render "sub_categories/categorizable/edit", category: category, sub_category: sub_category %>
  </div>

  <div class="collapse" id="<%= dynamic_id(name: 'collection-target', klass: sub_category, child_klass: 'field_groups') %>" data-parent="#<%= dynamic_id(name: 'collection', klass: kollection_name(sub_category.categorizable), child_klass: nil) %>">
    <div class="card-body">
      <!-- here -->
      <div id="<%= dynamic_id(name: 'accordion', klass: sub_category.categorizable, child_klass: 'field_groups') %>">
        <%= render "fields/field/field", fieldable: sub_category.categorizable %>
      </div>
    </div>
  </div>
</div>
