<div class="row align-items-center">
  <div class="col-auto">
    <h5 class="mb-0">
      <%= render "sub_categories/categorizable/collapse", category: category, sub_category: sub_category %>
    </h5>
  </div>
  <!-- CLASS NAME: eg, frame & image -->
  <div class="col" id="<%= dynamic_id(name: 'name-render', klass: sub_category.categorizable, child_klass: nil) %>">
    <%= render "sub_categories/categorizable/categorizable_name", categorizable: sub_category.categorizable %>
  </div>

  <div class="col-auto">
    <%= render "sub_categories/categorizable/nav_menu", category: category, sub_category: sub_category %>
  </div>

  <div class="btn-group-vertical">
    <div class="btn btn-sm py-0" role="group">
      <%= render 'sub_categories/sub_category/sorter', category: category, sub_category: sub_category %>
    </div>
  </div>
</div>
