<div id="accordion-category-<%= category.id %>">
  <div class="card">

    <!-- MY CATEGORY -->
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-auto">
          <h5 class="mb-0">
            <%= render "categories/toggle_icon", category: category %>
          </h5>
        </div>

        <div class="col">
          <%= render "categories/category_name", category: category %>
        </div>

        <div class="col-auto" id="category-btn-group">
          <%= render "categories/dropdown", fieldable: category %>
        </div>
      </div>
      <div id="category-multi_form">
        <%= render "categories/toggle_forms/multi_form", fieldable: category %>
      </div>
    </div>

    <!-- CARD BODY -->
    <!-- MY FIELD GROUPS -->
    <div class="collapse show" id="collapse-category-<%= category.id %>-field_groups" data-parent="#accordion-category-<%= category.id %>">
      <div class="card-body">
        <div id="accordion-field_group-<%= category.id %>">
          <div class="col">
            <div id="category-<%= category.id %>-field_groups">
              <%= render "field_groups/field_group", fieldable: category %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
