<div class="media">
  <div class="media-body">
    <tr>
      <td>
        <a href="<%= category_path(category) %>" class="btn btn-link" type="button"  aria-describedby: "button-addon3">
          <%= category.display %>
        </a>

        <div class="collapse" id="collapseCategoryForm#{<%= category.id %>}">
          <%= render 'categories/form', fieldable: category %>
        </div>
      </td>

      <td>
        <button class="btn btn-sm btn-outline-info float-right" type="button" data-toggle="collapse" data-target="#collapseCategoryForm#{<%= category.id %>}" aria-expanded="false" aria-controls="collapseCategoryForm#{<%= category.id %>}">
          Edit
        </button>
      </td>
    </tr>
 </div>
</div>
