<div class="card border mb-2">
  <div class="card-header py-2 px-3">
    <%= render "categories/header/header", category: category %>
  </div>

  <div class="collapse" id="<%= dom_ref(category, 'field-form-body') %>" data-parent="#accordion-nav-menu-body">
    <div class="card card-body p-1 m-1 bg-light">
      <div class="row align-items-center">
        <div class="col-auto">
          <button class="btn btn-sm badge badge-light border border-white rounded text-muted float-left" id="field-field_group-new-toggle" type="button">new field</button>
        </div>
        <div class="col">
          <div class="collapse show" id="category-field-new">
            <%= render "fields/forms/new", fieldable: category %>
          </div>

          <div class="collapse" id="category-field_group-add">
            <%= render "field_groups/forms/add", fieldable: category %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="collapse" id="category-edit" data-parent="#accordion-nav-menu-body">
    <%#= render "categories/forms/edit", category: category %>
  </div> -->

  <%= render "fields/index", fieldable: category %>
  <%#= render "element_kinds/container/container", elementable: category %>
</div>
