<div class="jumbotron">
  <h1 class="display-4">Art-type: <%= @category.name %></h1>
  <hr class="my-4">
</div>

<div id="top-menu">
  <div>
    <%= render "categories/btn_group", fieldable: @category %>
  </div>

  <div>
    <%= render "categories/multi_form", fieldable: @category %>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <th>Associated Fields for <%= @category.name %>:</th>
  </thead>
  <tbody>
    <%= render 'field_groups/field_group', fieldable: @category %>
  </tbody>
</table>

<h4>Add Dimension Types for: <%= @category.name %></h4>
<div>
  <%= render 'sub_categories/sub_category_form', category: @category  %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <th>Dimension type name</th>
  </thead>
  <tbody>
    <%= render 'sub_categories/sub_category', fieldable: @category %>
  </tbody>
</table>
