<div class="row align-items-center justify-content-between bg-light">
  <div class="col-11 pr-0">
    <%= render "item_fields/forms/form", item_field: item_field, url: item_field_path(item_field), target: item_field, obj_ref: obj_ref, form_id: dom_ref(item_field, 'edit-form') %>
  </div>

  <div class="col-1 pl-0">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group align-items-center" role="group">
        <button class="btn bg-transparent text-info control-toggle" id="<%= dom_ref(item_field, 'control-toggle') %>" data-toggle="collapse" data-target="#<%= dom_ref(item_field, 'parent-toggle') %>" type="button" aria-expanded="false"><%= (fa_icon "ellipsis-v") %></button>
        <%= button_to item_field_path(item_field), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "btn btn-sm bg-transparent font-weight-light text-danger pl-0" do %>
          <span><%= (fa_icon "minus-square") %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="form-row collapse pl-2 align-items-center parent-toggle" id="<%= dom_ref(item_field, 'parent-toggle') %>">
  <div class="col collapse show btn-group-toggle" id="<%= dom_ref(item_field, "btn-group-toggle") %>">
    <%= render "item_fields/forms/nested_form_toggle", item_field: item_field, obj_ref: obj_ref, target: to_snake(item_field.sti_value_type) %>
  </div>
  <%= render "item_fields/forms/nested_forms", item_field: item_field, obj_ref: obj_ref, target: to_snake(item_field.sti_value_type) %>
</div>
