<small class="ml-5 my-0 py-0 form-text text-muted input-label">Edit <%= obj_to_cap_hyph_str(item_field) %></small>
<div class="row justify-content-between align-items-center bg-light" id="<%= dom_ref(item_field, 'header') %>">
  <button class="caret-toggle btn btn-lg bg-transparent pl-2 border py-0" data-toggle="collapse" data-target="#<%= dom_ref(item_field, 'body') %>" type="button" aria-expanded="false"><%= (fa_icon "caret-down") %></button>

  <ul class="nav ml-3 mr-0">
    <li class="nav-item-dropdown">
      <a class="nav-link dropdown bg-transparent text-info m-0 p-0 border" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><%= (fa_icon "ellipsis-v") %></a>
      <%= render "item_fields/dropdown_menu", item_field: item_field %>
    </li>
  </ul>

  <div class="col" id="<%= dom_ref(item_field, 'accordion') %>">
    <div class="collapse show toggle-sibling" id="<%= dom_ref(item_field, 'edit') %>" data-label="Edit <%= obj_to_cap_hyph_str(item_field) %>" data-parent="#<%= dom_ref(item_field, 'accordion') %>">
      <%= render "item_fields/forms/form", item_field: item_field, url: item_field_path(item_field), form_id: dom_ref(item_field, 'edit-form-id') %>
    </div>

    <div class="collapse toggle-sibling" id='<%= dom_ref(item_field, "#{to_snake(item_field.sti_value_type)}-item_group-add") %>' data-label="Add <%= obj_to_cap_hyph_str(item_field.sti_value_type) %>" data-parent="#<%= dom_ref(item_field, 'accordion') %>">
      <%= render 'item_groups/forms/form', origin: item_field, target: to_snake(item_field.sti_value_type), url: item_field_item_groups_path(item_field, ItemGroup.new), form_id: dom_ref(item_field, "#{to_snake(item_field.sti_value_type)}-item_group-add-form-id") %>
    </div>
  </div>

  <div class="col-1">
    <div class="row align-items-center">
      <div class="col mx-2 p-0">
        <%#= render "item_groups/sort_btn_group", origin: origin, item_group: item_group %>
      </div>
      <div class="col p-0">
        <%= link_to (fa_icon "times"), item_field_path(item_field), method: :delete, remote: true, data: {confirm: "Are you sure?"}, class: "delete-btn btn btn-sm btn-transparent text-danger pl-0 ml-0 disabled" %>
      </div>
    </div>
  </div>
</div>
