<div class="card border m-1 border-dark <%= dom_ref(item_field, 'card') %>" id="<%= dom_ref('item_field', item_field.id, 'show') %>">
  <div class="card-header <%= dom_ref(item_field, 'header') %> pt-0">
    <%= render "item_fields/header", item_field: item_field %>
  </div>

  <div class="card-body p-2 collapse show" id="<%= dom_ref(item_field, 'body') %>">
    <div id='<%= dom_ref(item_field, "#{to_snake(item_field.sti_value_type)}-index") %>'>
      <%= render "item_values/item_fields/index", origin: item_field %>
    </div>
  </div>
</div>
