<div class="input-group input-group-sm align-items-center <%= dom_opt(form_id, {new: 'bg-white'}, 'bg-disabled') %>">
  <% if ref_include?(form_id, 'edit') %>
    <button class="btn btn-sm rounded-circle bg-transparent <%= dom_opt(form_id, edit: 'toggle-input-access') %>" type="button" id="<%= new_dom_ref(form_id, 'form', 'btn') %>"><%= (fa_icon "toggle-off") %></button>
  <% end %>
  <div class="col">
    <%= f.text_field :name, placeholder: "enter product-part name", class: "form-control border-0 ml-2", disabled: true %>
  </div>
  <div class="col-auto">
    <%= f.select :type, options_for_select(abbrv_sti_sibs(:product_part), selected: product_part.type), {prompt: "- STI type -"}, {class: "form-control border-0", disabled: true} %>
  </div>
  <div class="input-group-prepend">
    <button class="btn btn-sm bg-transparent border-left display-check <%= cond_attr(product_part.display_name, true, 'text-success', 'text-secondary') %>" type="button" disabled><%= (fa_icon "eye") %></button>
    <button class="btn btn-sm bg-transparent border-left category-check <%= cond_attr(product_part.category, true, 'text-success', 'text-secondary') %>" type="button" disabled><%= (fa_icon "header") %></button>
    <button class="btn btn-sm bg-transparent border-left text-primary" type="submit" disabled><%= (fa_icon "plus-circle") %></button>
  </div>
</div>
