<div class="btn-toolbar" role="toolbar">
  <% self_join_assocs(product_part, :product_kind).unshift(to_snake(product_part.sti_field_type)).each do |target| %>
    <div class="btn-group mr-2" role="group">
      <div class="dropdown">
        <button class="dropdown-toggle btn btn-xs btn-secondary btn-outline-secondary mb-1" type="button" data-toggle="dropdown" aria-expanded="false"><%= to_txt(target) %></button>
        <div class="dropdown-menu">
          <a class="dropdown-item form-opt" data-toggle="collapse" href='#<%= dom_ref(product_part, "#{target}-item_group-add") %>'>add <%= to_txt(target) %></a>
          <a class="dropdown-item form-opt" data-toggle="collapse" href='#<%= dom_ref(product_part, "#{target}-new") %>'>create <%= to_txt(target) %></a>
        </div>
      </div>
    </div>
  <% end %>
</div>
