<%= form_with model: product_part, url: product_part, id: form_id do |f| %>
  <div class="form">
    <%= hidden_field_tag :form_id, form_id %>
    <div class="form-row align-items-center">
      <div class="input-group input-group-sm align-items-center bg-white">
        <div class="col">
          <%= f.text_field :name, placeholder: "enter name", class: "form-control" %>
        </div>
        <div class="col-auto">
          <%= f.select :type, options_for_select(abbrv_sti_sibs(:product_part)), {prompt: "- STI type -"}, {class: "form-control border-0 ml-2 pl-2"} %>
        </div>
        <%= f.check_box :category, checked: true, class: 'form-check-input collapse' %>
        <%= f.check_box :display_name, checked: true, class: 'form-check-input collapse' %>
        <button class="btn btn-sm bg-transparent rounded-circle text-primary" type="submit"><%= (fa_icon "plus-circle") %></button>
      </div>
    </div>
  </div>
<% end %>
