<%= form_with model: product_part, url: product_part, id: form_id do |f| %>
  <div class="form border-success p-2">
    <%= hidden_field_tag :form_id, form_id %>
    <%= f.check_box :category, checked: true, class: 'collapse' %>
    <%= f.check_box :display_name, checked: true, class: 'collapse' %>
    <%= f.text_field :type, class: "collapse type-field" %>
    <div class="form-row align-items-center">
      <div class="input-group bg-white">
        <div class="input-group-prepend">
          <!-- <span class="input-group-text">prd prt</span> -->
          <%= render "product_parts/forms/type_dropdown" %>
        </div>
          <%= f.text_field :name, placeholder: "enter name", class: "form-control name-field" %>
          <%#= f.text_field :type, class: "form-control type-field" %>
          <%#= f.select :type, options_for_select(sti_abbrv_vl(:product_part)), {prompt: "-select type-"}, {class: "form-control select-input pr-1"} %> <!--border-0 ml-0 pl-0 pr-1 mr-1-->
        <div class="input-group-append">
          <button class="btn btn-sm btn-outline-primary" type="submit" disabled>submit</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
