<%= form_with model: product_part, url: url, id: form_id do |f| %>
  <div class="form" data-sti-name="product_part">
    <%= hidden_field_tag :form_id, form_id %>
    <%= f.text_field :type, class: "collapse type-field" %>
    <label class="fs-xs py-0 my-0">New <%= "#{to_txt(product_part, j: ' ')}" %></label>
    <div class="form-row align-items-center">
      <div class="col-11">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text input-border border-secondary bg-secondary font-weight-light text-white text-sm small"><small class="type-label">STI type</small></label>
            <%#= render "product_parts/forms/new_part_type_dropdown" %>
          </div>
            <%= f.text_field :name, placeholder: "enter name", class: "form-control form-control-sm name-field border border-secondary" %>
          <div class="input-group-append">
            <button class="btn btn-sm btn-primary" type="submit" disabled><%= (fa_icon "plus") %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
