<div class="card border m-1 border-dark" id="<%= dom_ref(product, 'show') %>">
  <div class="card-header" id="<%= dom_ref(product, 'header') %>">
    <%= product.name %>
    <%#= product.name %>
  </div>

  <div class="card-body p-1" id="<%= dom_ref(product, 'body') %>">
    <div id='<%= dom_ref(product, "product-index") %>'>
      <% option_group(product).each do |option_group| %>
        <%= render "option_groups/option_group", option_group: option_group %>
      <% end %>
    </div>
  </div>
</div>
