<div class="card border m-1 border-dark" id="<%= dom_ref(product, 'show') %>">
  <div class="card-header" id="<%= dom_ref(product, 'header') %>">
    <%= product.name %> (id: <%= product.id %>) tags: <%= product.tags %>
  </div>

  <div class="card-body p-1" id="<%= dom_ref(product, 'body') %>">
    <div id='<%= dom_ref(product, "product-index") %>'>
      <% build_option_group_card(product).each do |hsh| %>
        <%= render "sub_media", options: hsh[:options], option_group: hsh[:option_group] %>
      <% end %>
    </div>
  </div>
</div>
