<div class="card">
  <div class="card-body">

    <div class="row align-items-center">
      <div class="col-10">
        <a class="btn btn-sm btn-light btn-block" data-toggle="collapse" href="#collapseField<%= field.id %>" role="button" aria-expanded="false" aria-controls="collapseField<%= field.id %>">
          <%= field.name %> | <%= field.field_type %>
        </a>
      </div>
      <div class="col-2">
        <a class="btn btn-sm btn-light btn-outline-secondary float-right" data-toggle="collapse" href="#collapseFieldValues<%= field.id %>" role="button" aria-expanded="false" aria-controls="collapseFieldValues<%= field.id %>">
          Expand Values
        </a>
      </div>
    </div>

    <div class="collapse mt-3" id="collapseField<%= field.id %>" data-parent="#fieldValues<%= field.id %>">
      <%= render 'fields/edit', fieldable: fieldable, field: field %>
    </div>

    <div class="collapse mt-3" id="collapseFieldValues<%= field.id %>" data-parent="#fieldValues<%= field.id %>">
      <%= render 'fields/values/table', field: field %>
    </div>

  </div>
</div>
