<%= form_for field do |f| %>
  <div class="field">
    <%= f.label :field_type %><br>
    <%= f.select :field_type, %w[text_field check_box number_field text_area], include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Save" %>
<% end %>
