<%= form_with model: field, url: [fieldable, field], id: :field_form do |f| %>
  <div class="form">
    <div class="form-row align-items-center">
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseFieldValues#{<%= field.id %>}" aria-expanded="false">
            Field Values
          </button>
        </div>
        <%= f.select :field_type, options_for_select(%w[text_field check_box number_field text_area]), {prompt: "- select field type -"}, class: "form-control" %>
        <%= f.text_field :name, placeholder: "enter field name", class: "form-control" %>
        <div class="input-group-append">
          <button class="btn btn-sm btn-outline-primary" type="submit">
            Submit
          </button>
        </div>
      </div>

      <!-- <%# if field.id %>
        <%#= button_to 'Delete', [fieldable, field.field_groups.first], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-md btn_width btn-outline-danger form-group float-right" , id: "inlineFormInput"%>
      <%# end %> -->
      <div class="float-right">
        <%= render "layouts/flash" %>
      </div>
    </div>
  </div>
<% end %>
