<div class="card border border-dark" id="<%= dom_ref(field, 'show') %>">
  <div class="card-header pt-0 pb-3 border">
    <%= render "fields/header/header", field: field %>
  </div>

  <div class="card-body p-1 collapse" id="<%= dom_ref(field, 'body') %>">
    <div class="<%= dom_ref(field, 'value-index') %>">
      <%= render "values/index", field: field %>
    </div>
  </div>
</div>
