<h1>Field: <%= @field.name %></h1>

<%= link_to 'field index', @field.dynamic_index(request.path, params) %>

<h4>New Value</h4>

<div>
  <%= render 'values/form', field: @field, value: Value.new %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <th>Values for: <%= @field.name %></th>
  </thead>
  <tbody>
    <%= render @field.values.order(:name) %>
  </tbody>
</table>
