<div class="btn-group float-right" role="group">
  <button class="btn btn-med btn-outline-secondary" type="button" data-toggle="collapse" data-target="#supplierForm#{<%= supplier.id %>}" aria-expanded="false" aria-controls="supplierForm#{<%= supplier.id %>}">
    Edit Supplier
  </button>
  <button class="btn btn-med btn-outline-secondary" type="button" data-toggle="collapse" data-target="#invoiceForm#{<%= supplier.id %>}" aria-expanded="false" aria-controls="invoiceForm#{<%= supplier.id %>}">
    Add New Invoice
  </button>
  <button class="btn btn-med btn-outline-secondary" type="button" data-toggle="collapse" data-target="#invoiceList#{<%= supplier.id %>}" aria-expanded="false" aria-controls="invoiceList#{<%= supplier.id %>}">
    Invoice List
  </button>
</div>
