<div class="media">
  <div class="media-body">
    <tr>
      <td>
        <a href="<%= supplier_path(supplier) %>" class="btn btn-link" type="button"  aria-describedby: "button-addon3">
          <%= supplier.name %>
        </a>
        <button class="btn btn-sm btn-outline-info float-right" type="button" data-toggle="collapse" data-target="#collapseSupplierForm#{<%= supplier.id %>}" aria-expanded="false" aria-controls="collapseSupplierForm#{<%= supplier.id %>}">
          Edit
        </button>
        <div class="collapse" id="collapseSupplierForm#{<%= supplier.id %>}">
          <%= render 'suppliers/form', supplier: supplier %>
        </div>
      </td>
    </tr>
 </div>
</div>
