<%= form_with model: value, url: [field, value], id: form_id do |f| %>
  <div class="form">
    <%= hidden_field_tag :form_id, form_id %>
    <%# if ! dom_cond(form_id, 'properties') %>
    <div class="collapse <%= dom_exclude(form_id, 'show', 'properties') %>">
      <div class="form-row align-items-center">
        <%= render "values/forms/input_group", value: value, f: f %>
      </div>
    </div>
    <%# elsif dom_cond(form_id, 'properties') %>
    <div class="collapse <%= dom_attr(form_id, 'show', 'properties') %>">
      <%= render "values/forms/fields_for", value: value, f: f %>
    <%# end %>
    </div>
  </div>
<% end %>
