<%= form_with model: value, url: [field, value], id: form_id do |f| %>
  <div class="form">
    <div class="collapse <%= collapse_show?(form_id, tag) %>">
      <div class="form-row align-items-center">
        <div class="col">
          <%= f.text_field :name, placeholder: "enter value name", class: "form-control" %>
        </div>
        <div class="col-auto">
          <button class="btn btn-sm badge badge-primary float-right" type="submit">
            Submit
          </button>
        </div>
      </div>
    </div>
    <div class="collapse <%= collapse_show?(form_id, 'properties') %>">
      <%= render "values/forms/fields_for", value: value, f: f %>
    </div>
  </div>
<% end %>
