<div class="card border m-1 border-dark" id="<%= dom_ref(element_group, 'show') %>">
  <div class="card-header border border-danger pt-0">
    <%= render "element_kinds/header/header", elementable: elementable, element_group: element_group %>
  </div>

  <div class="card-body p-1 collapse" id="<%= dom_ref(element_group, 'body') %>" data-parent="#category-body">
    <div id="<%= dom_ref(element_group, 'element-index') %>">
      <%= render "elements/index", element_group: element_group, element_kind: element_group.element_kind %>
    </div>
  </div>
</div>
