<%= form_with model: item_field, url: item_field, id: form_id do |f| %>
  <div class="form">
    <%= hidden_field_tag :form_id, form_id %>
    <div class="form-row align-items-center">
      <div class="input-group input-group-sm align-items-center bg-white">
        <%= f.select :type, options_for_select(ItemField.subklass_list), {include_blank: "- type -"}, {class: "form-control border-0 ml-2"} %>
        <%= f.select :field_type, options_for_select(ItemField.field_type_list), {prompt: "- field-type -"}, {class: "form-control border-0"} %>
        <%= f.text_field :field_name, placeholder: "enter field-name", class: "form-control" %>
        <button class="btn btn-sm bg-transparent rounded-circle text-primary" type="submit"><%= (fa_icon "plus-circle") %></button>
      </div>
    </div>
  </div>
<% end %>
