<div class="row align-items-center bg-light">
  <div class="btn-group-vertical border-right">
    <div class="btn btn-sm py-0 px-2 m-0" role="group">
      <%= render 'field_groups/sorter', fieldable: fieldable, field_group: field_group %>
    </div>
  </div>

  <div class="col-auto">
    <h5 class="mb-0">
      <%= render 'fields/header/collapse', field_group: field_group %>
    </h5>
  </div>

  <div class="col font-weight-bold">
    <div id="<%= dyno_id(n1: 'field_group', k1: field_group, n2: 'field', tag: 'display') %>">
      <%= field_group.field.name %>
    </div>
  </div>
  <div class="col-auto">
    <div class="row align-items-center">
      <%= render "fields/header/field_menu", field_group: field_group %>
      <%= render "fields/header/value_menu", field_group: field_group %>
    </div>
  </div>
</div>
