<div class="row align-items-center bg-light">
  <%= render 'field_groups/sort_btn_group', fieldable: fieldable, field_group: field_group %>

  <div class="col-auto">
    <h5 class="mb-0">
      <%= render 'fields/header/collapse', field_group: field_group %>
    </h5>
  </div>

  <div class="col font-weight-bold">
    <div id="<%= dyno_id(n1: 'field_group', k1: field_group, n2: 'field', tag: 'display') %>">
      <%= field_group.field.name %>
    </div>
  </div>

  <div class="col-auto">
    <div class="row align-items-center">
      <%= render "fields/header/field_menu", field_group: field_group %>
      <%#= render "fields/header/value_menu", field_group: field_group %>
    </div>
  </div>
</div>
