<!DOCTYPE html>
<html>
  <head>
    <title>Q3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <nav class="fixed-top navbar navbar-expand" id="nav-bar">
        <span>
          <%= render "layouts/nav_menu" %>
        </span>
        <a href="<%= products_path %>" class="nav-link text-white">
          Products
        </a>
        <a href="<%= product_kinds_path %>" class="nav-link text-white">
          Products-Kinds
        </a>
        <a href="<%= product_parts_path %>" class="nav-link text-white">
          Product-Parts
        </a>
        <a href="<%= item_fields_path %>" class="nav-link text-white">
          Item-Fields
        </a>
        <a href="<%= item_values_path %>" class="nav-link text-white">
          Item-Values
        </a>
        <!-- <a href="<%#= categories_path %>" class="nav-link text-white">
          Categories
        </a> -->
        <!-- <a href="<%#= element_kinds_path %>" class="nav-link text-white">
          Element-Kinds
        </a>
        <a href="<%#= elements_path %>" class="nav-link text-white">
          Elements
        </a> -->
        <!-- <a href="<%#= artists_path %>" class="nav-link text-white">
          Artists
        </a> -->
        <!-- <a href="<%#= suppliers_path %>" class="nav-link text-white">
          Suppliers
        </a> -->
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
