<!DOCTYPE html>
<html>
  <head>
    <title>Q3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav">
        <li class="nav-link"><%= link_to "Categories", categories_path %></li>
        <li class="nav-link"><%= link_to "Dimensions", dimensions_path %></li>
        <li class="nav-link"><%= link_to "Artists", artists_path %></li>
        <li class="nav-link"><%= link_to "Suppliers", suppliers_path %></li>
        <!-- <li class="nav-link"><%#= link_to "Items", items_path %></li> -->
        <li class="nav-link"><%= link_to "Fields", fields_path %></li>
        <!-- <li class="nav-link"><%#= link_to "Values", field_values_path %></li> -->
        <!-- <li class="nav-link"><%#= link_to "#{URI::parse(request.referer).path.strip.partition(request.path)}", URI::parse(request.referer).path.strip %></li>
        <li class="nav-link">request.referer: <%#= URI.parse(request.referer).path %></li>
        <li class="nav-link">request.path: <%#= request.path %></li>
        <li class="nav-link">nested_path?: <%#= @category.partitioned_path(request.path, params)[0].empty? %></li>
        <li class="nav-link">"dynamic_edit:<%#= @category.dynamic_edit(request.path, params) %></li>
        <li class="nav-link"><%#= "params #{params}" %></li>
        <li class="nav-link"><%#= "session #{session}" %></li> -->
      </ul>
      <div>
        <%#= render "layouts/flash" %>
      </div>
    <%= yield %>
  </body>
</html>
