<!DOCTYPE html>
<html>
  <head>
    <title>Q3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <nav class="fixed-top navbar navbar-expand" id="nav-bar">
        <a href="<%= categories_path %>" class="nav-link text-white">
          Categories
        </a>
        <a href="<%= dimensions_path %>" class="nav-link text-white">
          Dimensions
        </a>
        <a href="<%= fields_path %>" class="nav-link text-white">
          Fields
        </a>
        <a href="<%= suppliers_path %>" class="nav-link text-white">
          Suppliers
        </a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
