<!DOCTYPE html>
<html>
  <head>
    <title>Q3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="btn-toolbar" role="toolbar" aria-label="nav-button-group">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <a href="<%= categories_path %>" class="btn btn-dark" type="button" aria-describedby: "nav-button-group">
              Categories
            </a>
            <a href="<%= dimensions_path %>" class="btn btn-dark" type="button" aria-describedby: "nav-button-group">
              Dimensions
            </a>
            <a href="<%= fields_path %>" class="btn btn-dark" type="button" aria-describedby: "nav-button-group">
              Fields
            </a>
            <a href="<%= suppliers_path %>" class="btn btn-dark" type="button" aria-describedby: "nav-button-group">
              Suppliers
            </a>
          </div>

      </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
